In [136]:
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests
import geopandas as gpd
from datetime import datetime, timedelta

In [137]:
# Columns to be used in the DataFrame
columns = ['icao24', 'callsign', 'origin_country', 'time_position', 'last_contact', 
           'longitude', 'latitude', 'baro_altitude', 'on_ground', 'velocity', 
           'true_track', 'vertical_rate', 'sensors', 'geo_altitude', 'squawk', 
           'spi', 'position_source']

In [138]:
# Microsoft outage 기간 동안의 시간 설정
start_time = datetime(2024, 7, 19, 10, 0, 0)
end_time = datetime(2024, 7, 19, 14, 0, 0)

# 시간 범위를 Unix 타임스탬프로 변환
start_timestamp = int(start_time.timestamp())
end_timestamp = int(end_time.timestamp())

In [126]:
# Initialize an empty DataFrame to store all flight data
all_flight_data = pd.DataFrame(columns=columns + ['timestamp'])

In [139]:
def fetch_flight_data():
    url = 'https://opensky-network.org/api/states/all'
    params = {
        'begin': start_timestamp,
        'end': end_timestamp,
        'lamin': 49.9,   # 영국의 대략적인 남쪽 위도
        'lamax': 61.0,   # 영국의 대략적인 북쪽 위도
        'lomin': -10.5,  # 영국의 대략적인 서쪽 경도
        'lomax': 1.8     # 영국의 대략적인 동쪽 경도
    }
    
    response = requests.get(url, params=params)
    response.raise_for_status()  # 요청 실패 시 예외 발생
    data = response.json()
    df = pd.DataFrame(data['states'], columns=columns)
    gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.longitude, df.latitude), crs="EPSG:4326")
    return gdf

In [141]:
geo_df = fetch_flight_data()
geo_df

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,geometry
0,407a05,EZY91TF,United Kingdom,1721490825,1721490825,-2.2466,50.0049,10066.02,False,206.89,213.33,4.55,None,10363.20,0532,False,0,POINT (-2.24660 50.00490)
1,407a06,EZY63DM,United Kingdom,1721490825,1721490825,-0.4334,51.8436,868.68,False,100.94,211.66,10.40,None,876.30,None,False,0,POINT (-0.43340 51.84360)
2,344446,AEA92UV,Spain,1721490825,1721490825,-0.7668,50.8037,3970.02,False,169.59,58.14,-2.60,None,4084.32,7463,False,0,POINT (-0.76680 50.80370)
3,407b70,WUK7DN,United Kingdom,1721490825,1721490825,-0.2635,51.5182,4754.88,False,194.14,22.76,-9.10,None,4914.90,5520,False,0,POINT (-0.26350 51.51820)
4,4cc279,ICE7J,Iceland,1721490825,1721490825,-4.8851,56.5173,10980.42,False,263.67,324.45,0.00,None,11178.54,5632,False,0,POINT (-4.88510 56.51730)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,3c66ea,DLH914,Germany,1721490825,1721490825,-0.0877,51.4751,1485.90,False,92.11,238.71,-10.08,None,1531.62,0135,False,0,POINT (-0.08770 51.47510)
344,401b3b,GBCBL,United Kingdom,1721490825,1721490825,-0.9258,53.8038,121.92,False,31.98,101.13,-0.33,None,NaN,7000,False,0,POINT (-0.92580 53.80380)
345,a1d546,UAL925,United States,1721490825,1721490825,-0.6329,51.7155,2369.82,False,154.36,14.87,7.15,None,2423.16,5142,False,0,POINT (-0.63290 51.71550)
346,4caa53,EAI78R,Ireland,1721490824,1721490825,-3.5386,50.5100,4869.18,False,143.83,329.95,0.00,None,4991.10,1237,False,0,POINT (-3.53860 50.51000)
347,4caa54,EAI33S,Ireland,1721490825,1721490825,-3.8585,51.0989,2887.98,False,138.97,134.40,-4.88,None,2933.70,0421,False,0,POINT (-3.85850 51.09890)