In [235]:
import pandas as pd
import matplotlib.pyplot as plt
import time
import requests
import geopandas as gpd
from datetime import datetime, timedelta
import contextily as ctx

In [236]:
import matplotlib.animation as animation

In [237]:
# Columns to be used in the DataFrame
columns = ['icao24', 'callsign', 'origin_country', 'time_position', 'last_contact', 
           'longitude', 'latitude', 'baro_altitude', 'on_ground', 'velocity', 
           'true_track', 'vertical_rate', 'sensors', 'geo_altitude', 'squawk', 
           'spi', 'position_source']

In [251]:
# Microsoft outage 기간 동안의 시간 설정
start_time = datetime(2024, 7, 19, 0, 0, 0) #(2024, 7, 19, 10, 0, 0)
end_time = datetime(2024, 7, 19, 23, 59, 59) #(2024, 7, 19, 14, 0, 0)

# # 시간 범위를 Unix 타임스탬프로 변환
# start_timestamp = int(start_time.timestamp())
# end_timestamp = int(end_time.timestamp())

In [252]:
# 데이터 가져오기 함수
def fetch_flight_data(start_timestamp, end_timestamp):
    url = 'https://opensky-network.org/api/states/all'
    params = {
        'begin': start_timestamp,
        'end': end_timestamp,
        'lamin': 49.9,
        'lamax': 61.0,
        'lomin': -10.5,
        'lomax': 1.8
    }
    try:
        response = requests.get(url, params=params)
        response.raise_for_status()
        data = response.json()
        return data
    except requests.exceptions.RequestException as e:
        print(f"{start_timestamp}에서 {end_timestamp}까지의 기간에 대한 요청 실패: {e}")
        return None

In [253]:
# geo_df = fetch_flight_data()
# geo_df.to_csv('flightdata.csv')
# geo_df

In [254]:
# # Plot the aircraft positions
# plt.figure(figsize=(10, 6))
# geo_df.plot(marker='o', color='red', markersize=5, alpha=0.5)
# plt.title('Aircraft Positions on July 19, 2024')
# plt.xlabel('Longitude')
# plt.ylabel('Latitude')
# plt.show()

In [255]:
# 모든 비행 데이터를 저장할 빈 DataFrame 초기화
all_flight_data = pd.DataFrame()

# 각 시간마다 데이터를 가져와 DataFrame에 추가
current_time = start_time
while current_time < end_time:
    next_time = current_time + timedelta(hours=1) #(minutes=30)
    start_timestamp = int(current_time.timestamp())
    end_timestamp = int(next_time.timestamp())
    
    for attempt in range(5):  # 5번의 시도 재시도 로직
        data = fetch_flight_data(start_timestamp, end_timestamp)
        if data:
            if 'states' in data and data['states']:
                # 반환된 데이터의 열 이름을 확인하고 동적으로 처리
                columns = ["icao24", "callsign", "origin_country", "time_position", "last_contact", 
                           "longitude", "latitude", "baro_altitude", "on_ground", "velocity", 
                           "true_track", "vertical_rate", "sensors", "geo_altitude", "squawk", 
                           "spi", "position_source"]
                if len(data['states'][0]) == len(columns):
                    df = pd.DataFrame(data['states'], columns=columns)
                    df['timestamp'] = current_time
                    all_flight_data = pd.concat([all_flight_data, df], ignore_index=True)
                    break
                else:
                    print(f"{current_time}부터 시작하는 기간에 대한 데이터 구조가 예상과 다릅니다.")
                    print(f"예상된 열 수: {len(columns)}, 반환된 열 수: {len(data['states'][0])}")
                    print(f"반환된 데이터: {data['states'][0]}")
                    break
            else:
                print(f"{current_time}부터 시작하는 기간에 대한 데이터 없음")
                break
        else:
            print(f"{start_timestamp}에서 {end_timestamp}까지의 기간에 대한 {attempt + 1}/5 재시도 중")
            time.sleep(10 * (attempt + 1))  # 재시도 간 대기 시간 증가
    
    current_time = next_time
    time.sleep(1)  # 각 요청 사이에 1초 대기

# 결합된 DataFrame의 처음 몇 줄 표시
print(all_flight_data.head())

   icao24  callsign  origin_country  time_position  last_contact  longitude  \
0  ac498c  FDX8       United States     1721493407    1721493407    -8.6248
1  407a3f  EFW39F    United Kingdom     1721493407    1721493407     0.7790
2  458ed7  CAT200           Denmark     1721493406    1721493406    -3.0195
3  407b86  GDVII     United Kingdom     1721493407    1721493407    -7.3313
4  4cc27c  ICE597           Iceland     1721493407    1721493407    -1.3090

   latitude  baro_altitude  on_ground  velocity  true_track  vertical_rate  \
0   50.2862       10668.00      False    272.86      102.41           0.33
1   51.2271        5928.36      False    218.55       96.62          10.40
2   53.7711          91.44      False     60.92      274.84          -0.98
3   52.1330         525.78      False     73.09      247.23          -0.65
4   50.3915       10972.80      False    277.58      357.34           0.00

  sensors  geo_altitude squawk    spi  position_source  timestamp
0    None      10942.32   5215  False                0 2024-07-19
1    None       6118.86   3451  False                0 2024-07-19
2    None         68.58   7444  False                0 2024-07-19
3    None        533.40   None  False                0 2024-07-19
4    None      11292.84   5517  False                0 2024-07-19

In [256]:
all_flight_data.to_csv('uk_flights_july_19_2024_hourly.csv', index=False)

In [257]:
all_flight_data

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,true_track,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,timestamp
0,ac498c,FDX8,United States,1721493407,1721493407,-8.6248,50.2862,10668.00,False,272.86,102.41,0.33,None,10942.32,5215,False,0,2024-07-19 00:00:00
1,407a3f,EFW39F,United Kingdom,1721493407,1721493407,0.7790,51.2271,5928.36,False,218.55,96.62,10.40,None,6118.86,3451,False,0,2024-07-19 00:00:00
2,458ed7,CAT200,Denmark,1721493406,1721493406,-3.0195,53.7711,91.44,False,60.92,274.84,-0.98,None,68.58,7444,False,0,2024-07-19 00:00:00
3,407b86,GDVII,United Kingdom,1721493407,1721493407,-7.3313,52.1330,525.78,False,73.09,247.23,-0.65,None,533.40,None,False,0,2024-07-19 00:00:00
4,4cc27c,ICE597,Iceland,1721493407,1721493407,-1.3090,50.3915,10972.80,False,277.58,357.34,0.00,None,11292.84,5517,False,0,2024-07-19 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7589,a290d0,UAL939,United States,1721493462,1721493462,-0.8290,52.5788,6964.68,False,246.30,331.56,7.48,None,7178.04,5167,False,0,2024-07-19 23:00:00
7590,a1d546,UAL925,United States,1721493462,1721493463,-5.6402,56.7344,10668.00,False,268.15,316.17,0.00,None,10850.88,5142,False,0,2024-07-19 23:00:00
7591,4caa41,EIN1TV,Ireland,1721493319,1721493390,-7.9109,57.3646,10058.40,False,274.36,338.44,0.00,None,10119.36,7666,False,0,2024-07-19 23:00:00
7592,4caa53,EAI78R,Ireland,1721493461,1721493462,-5.5845,53.3056,1569.72,False,116.02,294.63,-3.25,None,1569.72,1237,False,0,2024-07-19 23:00:00
7593,4caa55,EAI27DM,Ireland,1721493461,1721493462,-4.8807,55.4411,3421.38,False,95.98,198.43,2.93,None,3444.24,7665,False,0,2024-07-19 23:00:00

In [249]:
# 항공기 분류 -> icao24 (총 318개 항공기)